%form{ :controller => "products", :action => "products/search", :method =>"get"} 
  %input{ :type => "text", :name =>"search" , :id => "search_field"}
  %input{ :type => "submit", :name => nil, :class => "btn btn-primary", :value => "Search"}
